

<div class="card mb-4">
  <div class="card-body text-center mt-4">
      <!-- Grid row -->
      <div class="row">
          <!-- Grid column -->
      </div>
      <!-- Grid row -->
      <!--Table-->
      <table class="table table-striped">
          <!--Table head-->
          <thead>
              <tr>
                  <th>Parking en service</th>
                  <th>Nombre de places total</th>
                  <th>Nombre de places disponibles</th>
                  <th>Tarif</th>
              </tr>
          </thead>
          <!--Table head-->
          <!--Table body-->
          <tbody>
              <tr>
                  <td>
                    <span [ngClass]="parking_data?.en_service ? 'text-success' : 'text-danger'">
                      {{ parking_data?.en_service ? 'Oui' : 'Non' }}
                    </span>
                  </td>
                  <td>{{ parking_data?.nbre_places }}</td>
                  <td>{{ parking_data?.nbre_places_dispo }}</td>
                  <td>{{ parking_data?.tarif }}</td>
              </tr>
          </tbody>
          <!--Table body-->
      </table>
      <!--Table-->
  </div>
</div>

<div class="card mb-4" >
  <div class="card-body text-center mt-4" >
      <!-- Grid row -->
      <div class="row">
          <!-- Grid column -->
      </div>
      <!-- Grid row -->
      <!--Table-->
      <table class="table table-striped">
          <!--Table head-->
          <thead>
              <tr>
                <th>Occupied</th>
                <th>Temps d'occupation</th>
              </tr>
          </thead>
          <!--Table head-->
          <!--Table body-->
          <tbody>
            <tr *ngFor="let item of places_data; let i = index">
              <td>{{ item.occupied }}</td>
              <td>{{ item.temps_occup }}</td>
            </tr>
          </tbody>
          <!--Table body-->
      </table>
      <!--Table-->
  </div>
</div>